<div class="row">
        <h2 style="text-align: left; text-decoration: underline;">Kardex</h2>
    </div>
    <div class="row">
        <div class=col-md>
            <label> Codigo</label>
            <input type="text" [(ngModel)]="newProduct.code" [disabled]="newProduct.id !== undefined && newProduct.id !== null"/>
        </div>
    </div>
    <div class="row">
            <div class=col-md>
                <label> Descripcion</label>
                <input type="text" [(ngModel)]="newProduct.description" [disabled]="newProduct.id !== undefined && newProduct.id !== null"/>
            </div>
    </div>
    <div class="row">
            <div class=col-md>
                <label> Cantidad</label>
                <input type="text" [(ngModel)]="newProduct.quantity"/>
            </div>
    </div>
    <div class="row">
            <div class=col-md>
                <label> Precio</label>
                <input type="text" [(ngModel)]="newProduct.price" [disabled]="newProduct.id !== undefined && newProduct.id !== null"/>
            </div>
    </div>
    <div>
        <input type="button" (change)="create()" (click)="addProduct()" value="Agregar nuevo producto" *ngIf="newProduct.id === undefined || newProduct.id === null">
        <input type="button" (change)="update()" (click)="editProduct()" value="Editar nuevo producto" *ngIf="newProduct.id !== undefined && newProduct.id !== null">
        <input type="button" (change)="clear()" (click)="clearProduct()" value="Limpiar">
    </div>


    <div class="row">
        <!--  -->
        <table class="table">
            
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Codigo</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Precio</th>
                </tr>
            </thead>
            <tbody>
                
                <tr *ngFor="let item of products">
                    <td>{{item.code }}</td>
                    <td>{{item.description }}</td>
                    <td>{{item.quantity }}</td>
                    <td>{{item.price }}</td>
                    <td >
                        <input type="button" value="Ingresar" (click)="addStock(item.id)">
                        <input type="button" value="Vender" (click)="removeStock(item.id)" *ngIf="item.quantity > 0">
                        <input type="button" (change)="update()" (click)="updateStock(item)" value="Actualizar">
                    </td>
                </tr>
            </tbody>
        </table>            
       
    </div>

    
    <div class="modal hide fade" id="myModal">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Modal header</h3>
        </div>
        <div class="modal-body">
            <p>Kardex updated</p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn">Close</a>
            <a href="#" class="btn btn-primary">Save changes</a>
        </div>
    </div>