<div class="row">
    <h2 style="text-align: left; text-decoration: underline;">Kardex</h2>
</div>
<div class="row">
    <form>
        <div class="form-group row">
            <label for="staticCode" class="col-sm-3 col-form-label col-form-label-sm">Codigo</label>
            <div class="col-sm-9">
                <input type="text" [(ngModel)]="newProduct.code" class="form-control form-control-sm" [disabled]="newProduct.id !== undefined && newProduct.id !== null" id="staticCode" name="staticCode">
            </div>
        </div>
        <div class="form-group row">
            <label for="staticDesc" class="col-sm-3 col-form-label col-form-label-sm">Descripcion</label>
            <div class="col-sm-9">
                <input type="text" [(ngModel)]="newProduct.description"  class="form-control form-control-sm" [disabled]="newProduct.id !== undefined && newProduct.id !== null" id="staticDesc" name="staticDesc">
            </div>
        </div>
        <div class="form-group row">
            <label for="staticQuantity" class="col-sm-3 col-form-label col-form-label-sm">Cantidad</label>
            <div class="col-sm-9">
                <input type="number" [(ngModel)]="newProduct.quantity" pattern="[0–9]+"  class="form-control form-control-sm" id="staticQuantity" name="staticQuantity">
            </div>
        </div>
        <div class="form-group row">
            <label for="staticPrice" class="col-sm-3 col-form-label col-form-label-sm">Precio</label>
            <div class="col-sm-9">
                <input type="number" [(ngModel)]="newProduct.price"  ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" class="form-control form-control-sm" [disabled]="newProduct.id !== undefined && newProduct.id !== null" id="staticPrice" name="staticPrice">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-10">
                <input type="button" class="btn btn-primary btn-sm" (click)="addProduct()" value="Agregar nuevo producto" *ngIf="newProduct.id === undefined || newProduct.id === null">
                <input type="button" class="btn btn-primary btn-sm ml-1" (click)="editProduct()" value="Editar el producto" *ngIf="newProduct.id !== undefined && newProduct.id !== null">
                <input type="button" class="btn btn-primary btn-sm ml-1" (click)="clearProduct()" value="Limpiar">
            </div>
        </div>
        
    </form>
</div>

<div class="custom-table row">
        
    <h4 >Listado de productos</h4>
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col" style="width: 12%;">Codigo</th>
                <th>Descripcion</th>
                <th style="width: 10%;">
                    <div class="text-center"> Cantidad</div></th>
                <th style="width: 10%;">
                    <div class="text-center"> Precio</div></th>
                <th style="width: 23%;">
                    <div class="text-center"> Acciones</div></th>
            </tr>
        </thead>
        <tbody>
            
            <tr *ngFor="let item of products">
                <td>{{item.code }}</td>
                <td>{{item.description }}</td>
                <td>
                    <div class="text-center"> {{item.quantity }}</div></td>
                <td>
                    <div class="float-right">{{item.price | currency:"$" }}</div></td> 
                <td>
                    <div class="float-right">
                        <input type="button" class="btn btn-primary btn-sm" value="Ingresar" (click)="addStock(item.id)">
                        <input type="button" class="btn btn-primary btn-sm ml-1" value="Vender" (click)="removeStock(item.id)" *ngIf="item.quantity > 0">
                        <input type="button" class="btn btn-primary btn-sm ml-1" (change)="update()" (click)="updateStock(item)" value="Actualizar">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>            
</div>
